<clr-main-container>
  <clr-header>
    <div class="branding">
      <a>
        <span class="title">Dauntless Leaderboards</span>
      </a>
    </div>
    <div class="settings">
      <a class="nav-link nav-icon">
        <cds-icon shape="cog" solid="true"></cds-icon>
      </a>
    </div>
    <!-- ...
    <div class="header-nav" [clr-nav-level]="2">...</div>
    ... -->
  </clr-header>
  <div class="content-container">
    <main class="content-area" style="max-width: 1200px; margin-left: auto; margin-right: auto;">
      <h1>Dashboard</h1>
      <div class="clr-row">
        <div class="clr-col-12 clr-col-lg-6">
          <div class="card">
            <ng-container *ngIf="!data">
              <div class="card-text text-center">
                <clr-spinner></clr-spinner>
              </div>
            </ng-container>
            <ng-container *ngIf="data">
              <div class="card-header">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div>Gauntlet Season {{data.season_info.season}}</div>
                  <span class="label">End at {{data.season_info.end_at | date:'YYYY/MM/dd hh:mm'}}</span>
                </div>
              </div>
              <div class="card-block" style="padding: 0;">
                <div class="card-text">
                  <div style="display: block; width: 100%; overflow-x: auto;">
                    <table class="table table-compact" style="margin: 0; border-radius: 0; border: none;">
                      <thead>
                        <tr>
                          <th class="right">Rank</th>
                          <th class="left">Guild</th>
                          <th>Level</th>
                          <th>Time left</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of data.season_leaderbaord">
                          <td class="right">{{item.rank}}.</td>
                          <td class="left">{{item.guild_name}} [{{item.guild_tag}}]</td>
                          <td>{{item.level}}</td>
                          <td>{{item.remaining_sec}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div style="width: 100%; display: flex; justify-content: end; align-items: center;">
                  <span class="label">Last updated {{data.season_info.last_updated| date:'YYYY/MM/dd hh:mm'}}</span>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </main>
    <clr-vertical-nav [clr-nav-level]="1">

      <a clrVerticalNavLink routerLink="/" routerLinkActive="active">
        <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
        Dashboard
      </a>

      <!-- <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true">
        <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
        Gauntlets
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="/" routerLinkActive="active">
            <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
            Seasons
          </a>
          <a clrVerticalNavLink routerLink="/" routerLinkActive="active">
            <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
            Guilds
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group> -->

      <!-- <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true">
        <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
        Trials
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="/" routerLinkActive="active">
            <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
            Trials
          </a>
          <a clrVerticalNavLink routerLink="/" routerLinkActive="active">
            <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
            Players
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group> -->

      <!-- <div class="nav-divider"></div> -->

      <!-- <a clrVerticalNavLink routerLink="/" routerLinkActive="active">
        <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
        About
      </a> -->
    </clr-vertical-nav>
  </div>
</clr-main-container>