<clr-main-container>
  <dl-header></dl-header>
  <div class="content-container">
    <main class="content-area" style="display: grid; grid-template-columns: 1fr minmax(0px, 1240px) 1fr;">
      <div></div>
      <div><router-outlet></router-outlet></div>
      <div></div>
      <div></div>
      <dl-footer></dl-footer>
    </main>
    <clr-vertical-nav [clr-nav-level]="1">

      <a clrVerticalNavLink routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
        <cds-icon shape="dashboard" clrVerticalNavIcon solid="true"></cds-icon>
        Dashboard
      </a>

      <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true">
        <cds-icon shape="cog" clrVerticalNavIcon solid="true"></cds-icon>
        Gauntlets
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="/seasons" routerLinkActive="active">
            <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
            Seasons
          </a>
          <a clrVerticalNavLink routerLink="/guilds" routerLinkActive="active">
            <cds-icon shape="users" clrVerticalNavIcon solid="true"></cds-icon>
            Guilds
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true">
        <cds-icon shape="cog" clrVerticalNavIcon solid="true"></cds-icon>
        Application
        <clr-vertical-nav-group-children>
          <!-- <a clrVerticalNavLink routerLink="/seasons" routerLinkActive="active">
            <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
            About
          </a> -->
          <a clrVerticalNavLink routerLink="/settings" routerLinkActive="active">
            <cds-icon shape="users" clrVerticalNavIcon solid="true"></cds-icon>
            Settings
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <!-- <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true">
          <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
          Trials
          <clr-vertical-nav-group-children>
            <a clrVerticalNavLink routerLink="/" routerLinkActive="active">
              <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
              Trials
            </a>
            <a clrVerticalNavLink routerLink="/" routerLinkActive="active">
              <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
              Players
            </a>
          </clr-vertical-nav-group-children>
        </clr-vertical-nav-group> -->

      <!-- <div class="nav-divider"></div> -->

      <!-- <a clrVerticalNavLink routerLink="/" routerLinkActive="active">
          <cds-icon shape="user" clrVerticalNavIcon solid="true"></cds-icon>
          About
        </a> -->
    </clr-vertical-nav>
  </div>
</clr-main-container>