<div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Perks</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3">
              <div class="input-group">
                  <input class="form-control" placeholder="Search for a perk" [(ngModel)]="perkSearchInput" />
              </div>
          </div>
          </div>
          <div class="mt-2 d-flex flex-wrap" style="gap: 10px;"> <!-- Remplacement des styles en ligne -->
            <ng-container *ngFor="let cell of possibleCells; trackBy: trackByCell">
              <button *ngIf="cell.selected || cell.visible"
                class="btn btn-sm btn{{!cell.selected ? '-outline-primary' : '-success'}} {{perkSearchInput.length && cell.name.toLowerCase().includes(perkSearchInput.toLowerCase()) ? 'text-warning' : ''}}"
                title="Description TBA"
                (click)="cell.selected ? onRemovePerk(cell.key) : onPerkSelected(cell.key)">
                {{cell.name}} ({{cell.quantityNeeded}})
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Build</h3>
        </div>
        <div class="card-body">
          <label>Possible builds : {{possibleBuilds.length}}</label>
          <div class="table-responsive forced-bg" style="max-height: 75vh;">
            <cdk-virtual-scroll-viewport itemSize="50" class="viewport" style="height: 75vh;">
                <table class="table table-head-fixed table-bordered text-nowrap table-sm table-striped table-hover mb-0">
                  <thead>
                    <tr>
                      <th>Helm</th>
                      <th>Chest</th>
                      <th>Arms</th>
                      <th>Legs</th>
                      <th>Cells to add</th>
                      <th>Activated perks</th>
                    </tr>
                  </thead>
              
                  <tbody>
                    <tr *cdkVirtualFor="let possibleBuild of possibleBuilds; let i = index; trackBy: trackByBuild">
                      <td>{{possibleBuild.pieces[0]}}</td>
                      <td>{{possibleBuild.pieces[1]}}</td>
                      <td>{{possibleBuild.pieces[2]}}</td>
                      <td>{{possibleBuild.pieces[3]}}</td>
                      <td>
                        <ul class="mb-0">
                          <li *ngFor="let cell of possibleBuild.cellsToAdd">{{cell.quantityNeeded}} {{cell.name}}</li>
                        </ul>
                      </td>
                      <td>
                        <ul class="mb-0">
                          <li *ngFor="let cell of possibleBuild.activatedPerks" style="cursor: default;"
                            [title]="cell.description">{{cell.name}}</li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </cdk-virtual-scroll-viewport>
          </div>
        </div>
      </div>
    </div>
  </div>