<div class="row">
    <div class="col-lg-3">
        <div class="input-group">
            <input class="form-control" placeholder="Search for a player" [(ngModel)]="playerSearchInput" (ngModelChange)="onPlayerSearch()" />
            <div class="input-group-append">
                <button class="btn btn-default" style="cursor: default;"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2" *ngIf="allSlayersFormattedForList.length > 333">
    <div class="col">
        <button class="btn btn-warning" (click)="showAll = !showAll">
            {{showAll ? 'Hide' : 'Show'}} the {{allSlayersFormattedForList.length}} results<br>
            <span class="font-weight-light">Use at own risk as it's a lot of row to display</span>
        </button>
    </div>
</div>
<div class="row mt-3" *ngIf="showAll || allSlayersFormattedForList.length <= 333">
    <div class="col-12">
        <div class="table-responsive bg-gray-dark" style="max-height: 60vh; width: max-content;">
            <table style="width: max-content;" class="table table-head-fixed table-bordered text-nowrap table-sm table-striped table-hover mb-0">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let slayer of allSlayersFormattedForList" [routerLink]="slayer.platformName" role="button">
                        <th *ngIf="slayer.platformName.toLowerCase().includes(playerSearchInput.toLowerCase())">
                            <img class="mr-2" style="width: 2rem; margin: -0.1rem;" [src]="trialsService.getPlatformImgUrl(slayer.platform)" />
                            {{slayer.platformName}}
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>