<h1>Players</h1>
<div class="row mt-4">
    <div class="col-lg-3">
        <div class="input-group">
            <input class="form-control" placeholder="Search for a player" [(ngModel)]="filters.textSearch" (ngModelChange)="textSearchUpdate.next($event)" />
            <div class="input-group-append">
                <button class="btn btn-default" style="cursor: default;"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="col-lg-9 mt-2 mt-lg-0">
        <div *ngIf="total > 0" class="d-flex flex-column flex-lg-row align-items-center justify-content-lg-end">
            <div class="pr-2">{{1 + (filters.page - 1) * 20}} - {{1 + filters.page * 20 < total ? 1 + filters.page * 20 : total}} of {{total}} players </div>
                    <div class="d-flex align-items-center justify-content-center flex-wrap mt-2 mt-lg-0">
                        <i class="fa-solid fa-angles-left px-2" [style.opacity]="filters.page === 1 ? 0.5 : 1" [style.cursor]="filters.page === 1 ? 'not-allowed' : 'pointer'" (click)="filters.page = 1; applyFilter();"></i>
                        <i class="fa-solid fa-angle-left px-2" [style.opacity]="filters.page === 1 ? 0.5 : 1" [style.cursor]="filters.page === 1 ? 'not-allowed' : 'pointer'" (click)="filters.page = filters.page - 1; applyFilter();"></i>
                        <input class="form-control no-arrows p-1 text-center" type="number" style="width: 2rem; height: 2rem;" [ngModel]="filters.page" (ngModelChange)="filters.page = ($event > 1 ? ($event < getNumberOfPages() ? $event : getNumberOfPages()) : 1); applyFilter();" />
                        <span class="px-2"> / {{getNumberOfPages()}}</span>
                        <i class="fa-solid fa-angle-right px-2" [style.opacity]="filters.page === getNumberOfPages() ? 0.5 : 1" [style.cursor]="filters.page === getNumberOfPages() ? 'not-allowed' : 'pointer'" (click)="filters.page = filters.page + 1; applyFilter();"></i>
                        <i class="fa-solid fa-angles-right pl-2" [style.opacity]="filters.page === getNumberOfPages() ? 0.5 : 1" [style.cursor]="filters.page === getNumberOfPages() ? 'not-allowed' : 'pointer'" (click)="filters.page = getNumberOfPages(); applyFilter();"></i>
                    </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="table-responsive forced-bg" style="max-height: 75vh;">
                <table class="table table-head-fixed table-bordered text-nowrap table-sm table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th style="width: 90px;" role="button" (click)="changeFilter('nbrSoloTop1')">
                                <div class="d-flex align-items-center">Solo Top 1s <i class="pl-2 ml-auto fa-solid {{getArrowIcon('nbrSoloTop1')}}"></i></div>
                            </th>
                            <th style="width: 90px;" role="button" (click)="changeFilter('nbrSoloTop5')">
                                <div class="d-flex align-items-center">Solo Top 5s <i class="pl-2 ml-auto fa-solid {{getArrowIcon('nbrSoloTop5')}}"></i></div>
                            </th>
                            <th style="width: 90px;" role="button" (click)="changeFilter('nbrSoloTop100')">
                                <div class="d-flex align-items-center">Solo Top 100s <i class="pl-2 ml-auto fa-solid {{getArrowIcon('nbrSoloTop100')}}"></i></div>
                            </th>
                            <th style="width: 90px;" role="button" (click)="changeFilter('nbrGroupTop1')">
                                <div class="d-flex align-items-center">Group Top 1s <i class="pl-2 ml-auto fa-solid {{getArrowIcon('nbrGroupTop1')}}"></i></div>
                            </th>
                            <th style="width: 90px;" role="button" (click)="changeFilter('nbrGroupTop5')">
                                <div class="d-flex align-items-center">Group Top 5s <i class="pl-2 ml-auto fa-solid {{getArrowIcon('nbrGroupTop5')}}"></i></div>
                            </th>
                            <th style="width: 90px;" role="button" (click)="changeFilter('nbrGroupTop100')">
                                <div class="d-flex align-items-center">Group Top 100s <i class="pl-2 ml-auto fa-solid {{getArrowIcon('nbrGroupTop100')}}"></i></div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngIf="isLoading" style="user-select: none;">
                            <td colspan="7">
                                <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                                    <i class="fa-solid fa-rotate fa-spin" style="font-size: 300%; --fa-animation-duration: 2s;"></i>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let player of players" [enhancedRouterLink]="'/players/' + player.player_id" role="button">
                            <td>
                                <span *ngIf="player.icon_filename === 'diamond'">💎</span>
                                <img *ngIf="player.icon_filename && player.icon_filename !== 'diamond'" style="width: 1.5rem; border-radius: 50%;" class="mx-1" [src]="sharedService.getImgPath(player.icon_filename, 'players')">
                                <span *ngFor="let player_name of player.player_names" class="px-1">
                                    {{player_name.name}}
                                    <img class="ml-1 platform-icon" style="width: 2rem; margin: -0.1rem;" [src]="sharedService.getImgPath(player_name.platform_id + '.png', 'platforms')" />
                                </span>
                            </td>
                            <td style="width: 90px;">{{player.nbrSoloTop1 ? player.nbrSoloTop1 : ''}}</td>
                            <td style="width: 90px;">{{player.nbrSoloTop5 ? player.nbrSoloTop5 : ''}}</td>
                            <td style="width: 90px;">{{player.nbrSoloTop100 ? player.nbrSoloTop100 : ''}}</td>
                            <td style="width: 90px;">{{player.nbrGroupTop1 ? player.nbrGroupTop1 : ''}}</td>
                            <td style="width: 90px;">{{player.nbrGroupTop5 ? player.nbrGroupTop5 : ''}}</td>
                            <td style="width: 90px;">{{player.nbrGroupTop100 ? player.nbrGroupTop100 : ''}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>