<div class="row">
    <div class="col">
        <button class="btn btn-primary" routerLink="/guilds"><i class="fa-solid fa-arrow-left-long mr-2"></i> Back to
            all
            guilds</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-lg-3 col-md-4">
        <div class="card">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-hover table-bordered mb-0">
                        <thead>
                            <tr>
                                <th class="text-center px-0" style="width: 90px">Season</th>
                                <th class="text-center px-0" style="width: 90px">Position</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let leaderboardPosition of guild?.leaderboardPositions; let first = first">
                                <ng-container *ngFor="let item of leaderboardPosition | keyvalue">
                                    <td class="text-center px-0" style="width: 90px">{{getSeasonNumber(item.key)}}
                                        {{first ?
                                        '(Current)' : ''}}</td>
                                    <td class="text-center px-0" style="width: 90px">{{item.value}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>