<ng-container>
    <h1 class="mt-1">Season {{seasonData?.seasonInfo?.season || ''}}</h1>
    <div class="row mt-3">
        <div class="col-12 col-md-4 col-lg-3 order-md-2">
            <div class="card mt-0">
                <div class="card-block p-0">
                    <div class="clr-select-wrapper w-100">
                        <select id="select-basic" class="clr-select w-100" [ngModel]="selectedSeasonId" (ngModelChange)="onSeasonChange($event)">
                            <ng-container *ngFor="let item of (seasonData?.allSeasonsInfo || []).reverse()">
                                <option *ngIf="!showChart || item.flourish_id" [ngValue]="item.season">Season {{ item.season }}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div *ngIf="!seasonData" class="my-2 card-text text-center">
                        <clr-spinner></clr-spinner>
                    </div>
                    <div *ngIf="seasonData" class="my-2 card-text px-2">
                        <clr-input-container>
                            <label>Start at</label>
                            <input readonly clrInput [ngModel]="seasonData.seasonInfo.start_at | date:'YYYY/MM/dd hh:mm'" />
                        </clr-input-container>
                        <clr-input-container>
                              <label>End at</label>
                              <input readonly clrInput [ngModel]="seasonData.seasonInfo.end_at | date:'YYYY/MM/dd hh:mm'" />
                        </clr-input-container>
                        <clr-input-container *ngIf="seasonData.seasonInfo.season === seasonData.allSeasonsInfo.length">
                            <label>Lat updated</label>
                            <input readonly clrInput [ngModel]="seasonData.seasonInfo.last_updated | date:'YYYY/MM/dd hh:mm'" />
                        </clr-input-container>
                        <button *ngIf="seasonData.seasonInfo.flourish_id" class="btn btn-primary btn-block btn-icon mt-3" (click)="toggleShowChart()">
                            <ng-container *ngIf="!showChart"><cds-icon shape="bar-chart"></cds-icon>Bar Chart Race</ng-container>
                            <ng-container *ngIf="showChart"><cds-icon shape="list"></cds-icon>Leaderboard</ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9 mt-3 mt-md-0">
            <div *ngIf="!showChart" class="datagrid-forced-height mt-0">
                <clr-datagrid [clrDgLoading]="seasonData === undefined">
                    <clr-dg-column style="width: 100px;">
                        <div class="w-100 text-right">#</div>
                    </clr-dg-column>
                    <clr-dg-column>Guild</clr-dg-column>
                    <clr-dg-column style="width: 100px;">
                        <div class="w-100 text-center">Level</div>
                    </clr-dg-column>
                    <clr-dg-column style="width: 100px;">
                        <div class="w-100 text-center">Time left</div>
                    </clr-dg-column>

                    <clr-dg-row *ngFor="let item of (seasonData?.seasonLeaderboard || [])" role="button"
                        [routerLink]="'/guilds'">
                        <clr-dg-cell class="text-right">{{item.rank}}.</clr-dg-cell>
                        <clr-dg-cell>
                            <div style="display: flex; align-items: center;">
                                <img *ngIf="item.guild_icon_filename" cds-layout="m-r:xs"
                                    style="width: var(--clr-table-data-cell-line-height); border-radius: 50%;"
                                    src="http://localhost:7001/assets/img/guilds/{{item.guild_icon_filename}}" />
                                <span>{{item.guild_name}} <span
                                        style="font-size: 80%; font-weight: lighter;">[{{item.guild_tag}}]</span></span>
                            </div>
                        </clr-dg-cell>
                        <clr-dg-cell class="text-center">{{item.level}}</clr-dg-cell>
                        <clr-dg-cell class="text-center">{{item.remaining_sec * 1000 | date:'mm:ss'}}</clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>
            </div>
            <dl-flourish-frame *ngIf="showChart && seasonData?.seasonInfo?.flourish_id" [url]="getFlourishUrl(seasonData!.seasonInfo.flourish_id)"></dl-flourish-frame>
        </div>
    </div>
</ng-container>