<ng-container>
    <h1 class="mt-1">Season {{seasonData?.season_info?.season || ''}}</h1>
    <div class="row mt-3">
        <div class="col-lg-3 order-lg-2">
            <div class="forced-bg">
                <select class="form-control" [ngModel]="selectedSeasonId" (ngModelChange)="onSeasonChange($event)">
                    <option *ngFor="let item of (seasonData?.all_seasons_info || [])" [ngValue]="item.season">Season {{ item.season }}</option>
                </select>

                <div *ngIf="!seasonData" class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                    <i class="fa-solid fa-rotate fa-spin" style="font-size: 300%; --fa-animation-duration: 2s;"></i>
                </div>
                <div class="p-3" *ngIf="seasonData">
                    <h6 class="font-weight-bold">Start at</h6>
                    <p>{{seasonData.season_info.start_at | date:'YYYY/MM/dd HH:mm'}}</p>

                    <h6 class="font-weight-bold">End at</h6>
                    <p>{{seasonData.season_info.end_at | date:'YYYY/MM/dd HH:mm'}}</p>

                    <ng-container *ngIf="seasonData.season_info.season === seasonData.all_seasons_info.length">
                        <h6 class="font-weight-bold">Last updated</h6>
                        <p>{{seasonData.season_info.last_updated | date:'YYYY/MM/dd HH:mm'}}</p>
                    </ng-container>

                    <button *ngIf="seasonData.season_info.flourish_id" class="btn btn-primary btn-block btn-icon mt-3" (click)="toggleShowChart()">
                        <ng-container *ngIf="!showChart"><i class="fa-solid fa-chart-bar mr-1"></i>Bar Chart Race</ng-container>
                        <ng-container *ngIf="showChart"><i class="fa-solid fa-arrow-left mr-1"></i>Leaderboard</ng-container>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9 mt-3 mt-lg-0">
            <div *ngIf="!showChart" class="table-responsive forced-bg" style="max-height: 75vh;">
                <table class="table table-head-fixed table-bordered text-nowrap table-sm table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th style="width: 14px">Rank</th>
                            <th>Guild</th>
                            <th style="width: 100px">
                                <div class="text-center">Level</div>
                            </th>
                            <th style="width: 100px">
                                <div class="text-center">Time left</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!seasonData" style="user-select: none;">
                            <td colspan="6">
                                <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                                    <i class="fa-solid fa-rotate fa-spin" style="font-size: 300%; --fa-animation-duration: 2s;"></i>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let leaderboardItem of seasonData?.season_leaderboard;" [enhancedRouterLink]="'/guilds/' + leaderboardItem.guild_id" role="button" [class.text-info]="leaderboardItem.guild_id === sharedService.guildId" [class.text-warning]="sharedService.hasFavoriteGuild(leaderboardItem.guild_id) && leaderboardItem.guild_id !== sharedService.guildId">
                            <td class="text-center">{{leaderboardItem.rank}}.</td>
                            <td>
                                <img *ngIf="leaderboardItem.guild_icon_filename" style="width: 1.2rem; border-radius: 50%;" class="mx-1" [src]="sharedService.getImgPath(leaderboardItem.guild_icon_filename, 'guilds')">
                                {{leaderboardItem.guild_name}} <span class="font-weight-light h6">[{{leaderboardItem.guild_tag}}]</span>
                            </td>
                            <td>
                                <div class="text-center">{{leaderboardItem.level}}</div>
                            </td>
                            <td class="text-center">
                                <div class="text-center">{{leaderboardItem.remaining_sec * 1000 | date:'mm:ss'}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <dl-flourish-frame *ngIf="showChart && seasonData?.season_info?.flourish_id" [url]="getFlourishUrl()"></dl-flourish-frame>
        </div>
    </div>
</ng-container>