<!-- Every items that redirect inside the app is double to trick auto close on small devices -->

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a class="brand-link user-select-none d-lg-none" routerLink="/" data-widget="pushmenu">
    <div class="brand-text font-weight-light text-center">Dauntless Leaderboards</div>
  </a>
  <a class="brand-link user-select-none d-none d-lg-block" routerLink="/">
    <div class="brand-text font-weight-light text-center">Dauntless Leaderboards</div>
  </a>

  <div class="sidebar">
    <nav class="mt-4">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a data-widget="pushmenu" routerLink="/" class="nav-link d-lg-none" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <i class="nav-icon mr-2 fa-solid fa-gauge-high"></i>
            <p>Dashboard</p>
          </a>
          <a routerLink="/" class="nav-link d-none d-lg-block" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <i class="nav-icon mr-2 fa-solid fa-gauge-high"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-header user-select-none">GAUNTLET</li>

        <li class="nav-item">
          <a data-widget="pushmenu" routerLink="/seasons" class="nav-link d-lg-none" routerLinkActive="active">
            <img class="nav-icon mr-2" src="assets/img/gauntlet_icon.png">
            <p>Seasons</p>
          </a>
          <a routerLink="/seasons" class="nav-link d-none d-lg-block" routerLinkActive="active">
            <img class="nav-icon mr-2" src="assets/img/gauntlet_icon.png">
            <p>Seasons</p>
          </a>
        </li>

        <li class="nav-item">
          <a data-widget="pushmenu" routerLink="/guilds" class="nav-link d-lg-none" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <i class="nav-icon mr-2 fa-solid fa-users"></i>
            <p>Guilds</p>
          </a>
          <a routerLink="/guilds" class="nav-link d-none d-lg-block" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <i class="nav-icon mr-2 fa-solid fa-users"></i>
            <p>Guilds</p>
          </a>
        </li>

        <li class="nav-header user-select-none">TRIALS</li>

        <li class="nav-item">
          <a data-widget="pushmenu" routerLink="/trials" class="nav-link d-lg-none" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <img class="nav-icon mr-2" src="assets/img/trial_icon.png">
            <p>Trials</p>
          </a>
          <a routerLink="/trials" class="nav-link d-none d-lg-block" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <img class="nav-icon mr-2" src="assets/img/trial_icon.png">
            <p>Trials</p>
          </a>
        </li>

        <li class="nav-item">
          <a data-widget="pushmenu" routerLink="/players" class="nav-link d-lg-none" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <i class="nav-icon mr-2 fa-solid fa-user"></i>
            <p>Players</p>
          </a>
          <a routerLink="/players" class="nav-link d-none d-lg-block" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <i class="nav-icon mr-2 fa-solid fa-user"></i>
            <p>Players</p>
          </a>
        </li>

        <li class="nav-header user-select-none">TOOLS</li>

        <li class="nav-item">
          <a data-widget="pushmenu" routerLink="/unseen-translator" class="nav-link d-lg-none" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <i class="nav-icon mr-2 fa-solid fa-language"></i>
            <p>Unseen Translator</p>
          </a>
          <a routerLink="/unseen-translator" class="nav-link d-none d-lg-block" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <i class="nav-icon mr-2 fa-solid fa-language"></i>
            <p>Unseen Translator</p>
          </a>
        </li>

        <li class="nav-item">
          <a data-widget="pushmenu" routerLink="/beta/level-calculator" class="nav-link d-lg-none" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <i class="nav-icon mr-2 fa-solid fa-chart-line"></i>
            <p>Level Calculator <span class="badge badge-warning ml-2">BETA</span></p>
          </a>
          <a routerLink="/beta/level-calculator" class="nav-link d-none d-lg-block" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <i class="nav-icon mr-2 fa-solid fa-chart-line"></i>
            <p>Level Calculator <span class="badge badge-warning ml-2">BETA</span></p>
          </a>
        </li>

        <li class="nav-item">
          <a data-widget="pushmenu" routerLink="/beta/builder" class="nav-link d-lg-none" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <i class="nav-icon mr-2 fa-solid fa-trowel"></i>
            <p>Builder <span class="badge badge-warning ml-2">BETA</span></p>
          </a>
          <a routerLink="/beta/builder" class="nav-link d-none d-lg-block" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <i class="nav-icon mr-2 fa-solid fa-trowel"></i>
            <p>Builder <span class="badge badge-warning ml-2">BETA</span></p>
          </a>
        </li>

        <li class="nav-header user-select-none">APPLICATION</li>

        <li class="nav-item">
          <a data-widget="pushmenu" routerLink="/about" class="nav-link d-lg-none" routerLinkActive="active">
            <i class="nav-icon mr-2 fa-solid fa-circle-info"></i>
            <p>About</p>
          </a>
          <a routerLink="/about" class="nav-link d-none d-lg-block" routerLinkActive="active">
            <i class="nav-icon mr-2 fa-solid fa-circle-info"></i>
            <p>About</p>
          </a>
        </li>

        <li class="nav-item">
          <a data-widget="pushmenu" routerLink="/settings" class="nav-link d-lg-none" routerLinkActive="active">
            <i class="nav-icon mr-2 fa-solid fa-users"></i>
            <p>Settings</p>
          </a>
          <a routerLink="/settings" class="nav-link d-none d-lg-block" routerLinkActive="active">
            <i class="nav-icon mr-2 fa-solid fa-gear"></i>
            <p>Settings</p>
          </a>
        </li>

        <li class="nav-header user-select-none">LINKS</li>

        <li class="nav-item">
          <a href="https://discord.gg/JGTVcqMDfm" target="_blank" class="nav-link">
            <i class="nav-icon mr-2 fa-brands fa-discord"></i>
            <p>Discord</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="https://github.com/PierreYvesFlamand/Dauntless-Leaderboards" target="_blank" class="nav-link">
            <i class="nav-icon mr-2 fa-brands fa-github"></i>
            <p>Github</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="https://www.patreon.com/dauntlessleaderboards" target="_blank" class="nav-link">
            <i class="nav-icon mr-2 fa-brands fa-patreon"></i>
            <p>Patreon</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="https://www.dauntless-builder.com/" target="_blank" class="nav-link">
            <img class="nav-icon mr-2" src="https://www.dauntless-builder.com/assets/icon.png">
            <p>Dauntless Builder</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>