<div class="row">
    <div class="col-lg-3">
        <select class="form-control" [(ngModel)]="filterBehemothName">
            <option [ngValue]="undefined">All behemoths</option>
            <option *ngFor="let behemoth of trialsService.getOrderedBehemoth()" [ngValue]="behemoth">{{behemoth}}
            </option>
        </select>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card" style="border-radius: 0">
            <div class="card-body p-0">
                <div class="table-responsive" style="max-height: 75vh;">
                    <table
                        class="table table-head-fixed table-bordered text-nowrap table-sm table-striped table-hover mb-0">
                        <thead>
                            <tr>
                                <th style="width: 6rem;" class="text-center px-0">Week</th>
                                <th>Top 1 solo</th>
                                <th>Top 1 group</th>
                                <th style="width: 10rem;">From</th>
                                <th style="width: 10rem;">To</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let trial of allTrialsFormated" routerLink="{{trial.week}}" role="button">
                                <ng-container
                                    *ngIf="filterBehemothName === undefined || trialsService.getBehemothName(trial.behemothId) === filterBehemothName">
                                    <td style="vertical-align: middle; width: 6rem;" class="text-center px-2" [title]="trialsService.getBehemothName(trial.behemothId)">
                                        {{trial.week}}<img class="ml-1" style="width: 3rem; margin: -0.5rem;"
                                            [src]="trialsService.getBehemothImgUrl(trial.behemothId)"></td>
                                    <td style="vertical-align: middle;"
                                        [title]="trialsService.convertTrialTime(trial.data.solo['all'][0] ? trial.data.solo['all'][0].completionTime : undefined, true)">
                                        <ng-container *ngIf="trial.data.solo['all'][0]">
                                            {{trialsService.convertTrialTime(trial.data.solo['all'][0].completionTime)}}
                                            <img class="ml-1" style="width: 2rem; margin: -0.1rem;"
                                                [src]="trialsService.getWeaponImgUrl(trial.data.solo['all'][0].weapon)">
                                            <img class="ml-1" style="width: 2rem; margin: -0.1rem;"
                                                *ngIf="trial.data.solo['all'][0].playerRoleId"
                                                [src]="trialsService.getOmniImgUrl(trial.data.solo['all'][0].playerRoleId)">
                                        </ng-container>
                                    </td>
                                    <td style="vertical-align: middle;"
                                        [title]="trialsService.convertTrialTime(trial.data.group[0].completionTime, true)">
                                        {{trialsService.convertTrialTime(trial.data.group[0].completionTime)}}
                                        <ng-container *ngFor="let player of trial.data.group[0].entries">
                                            <img class="ml-1" style="width: 2rem; margin: -0.1rem;"
                                                [src]="trialsService.getWeaponImgUrl(player.weapon)">
                                            <img class="ml-1" style="width: 2rem; margin: -0.1rem;"
                                                *ngIf="player.playerRoleId"
                                                [src]="trialsService.getOmniImgUrl(player.playerRoleId)">
                                            <span class="ml-3"></span>
                                        </ng-container>
                                    </td>
                                    <td style="vertical-align: middle; width: 10rem;">
                                        {{trialsService.getWeekStartAndEnd(trial.week)[0] |
                                        date:'YYYY MMMM dd'}}</td>
                                    <td style="vertical-align: middle; width: 10rem;">
                                        {{trialsService.getWeekStartAndEnd(trial.week)[1] |
                                        date:'MMMM dd'}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>