<div class="row mb-2">
    <div class="col">
        <h1><app-player-name [playerName]="trialsService.getFirstPlayerName(databaseService.allSlayers[playerId])" [useBig]="true"></app-player-name></h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <button class="btn btn-primary" routerLink="/players"><i class="fa-solid fa-arrow-left-long mr-2"></i> Back to all players</button>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs" id="trial-switch" role="tablist">
                    <li class="nav-item" *ngIf="playerDetails['all'].length">
                        <a class="nav-link link-color" [class.active]="firstTabToOpen === 'all'" id="all-tab" data-toggle="pill" href="#all" role="tab" aria-controls="all" aria-selected="true">Solo ({{playerDetails['all'].length}})</a>
                    </li>
                    <li class="nav-item" *ngIf="playerDetails.group.length">
                        <a class="nav-link link-color" [class.active]="firstTabToOpen === 'group'" id="group-tab" data-toggle="pill" href="#group" role="tab" aria-controls="group" aria-selected="false">Group ({{totalOfGroupEntry}})</a>
                    </li>
                    <ng-container *ngFor="let type of ['hammer', 'axe', 'sword', 'chainblades', 'pike', 'repeaters', 'strikers']; let index = index">
                        <li class="nav-item" *ngIf="playerDetails[type].length">
                            <a class="nav-link link-color" [class.active]="firstTabToOpen === type" [attr.id]="type + '-tab'" data-toggle="pill" [href]="'#' + type" role="tab" [attr.aria-controls]="type" aria-selected="false">
                                <img style="width: 2rem; margin: -0.1rem;" [src]="trialsService.getWeaponImgUrl(index + 1)">
                                ({{playerDetails[type].length}})
                            </a>
                        </li>
                    </ng-container>
                </ul>
                <div class="tab-content" id="trial-switchContent">
                    <div class="tab-pane fade" [class.show]="firstTabToOpen === 'all'" [class.active]="firstTabToOpen === 'all'" id="all" role="tabpanel" aria-labelledby="all-tab">
                        <div class="table-responsive" style="max-height: 70vh;">
                            <table class="table table-head-fixed table-bordered text-nowrap table-sm table-striped table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 6rem;" class="text-center px-0">Week</th>
                                        <th style="width: 2rem;" class="text-center">Rank</th>
                                        <th>Time</th>
                                        <th style="width: 10rem;">From</th>
                                        <th style="width: 10rem;">To</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of playerDetails['all']" [routerLink]="'/trials/' + item.week" role="button">
                                        <td style="vertical-align: middle; width: 6rem;" class="text-center px-2" [title]="trialsService.getBehemothName(item.behemothId)">
                                            {{item.week}}<img class="ml-1" style="width: 3rem; margin: -0.5rem;" [src]="trialsService.getBehemothImgUrl(item.behemothId)">
                                        </td>
                                        <td style="vertical-align: middle; width: 2rem;" class="text-center">
                                            {{item.rank}}.
                                        </td>
                                        <td style="vertical-align: middle;cursor: default;" [title]="trialsService.convertTrialTime(item.completionTime, true)">
                                            <img class="mr-1" style="width: 2rem; margin: -0.1rem;" *ngIf="item.weapon" [src]="trialsService.getWeaponImgUrl(item.weapon)">
                                            <img class="mr-1" style="width: 2rem; margin: -0.1rem;" *ngIf="item.playerRoleId" [src]="trialsService.getOmniImgUrl(item.playerRoleId)">
                                            {{trialsService.convertTrialTime(item.completionTime, trialDecimals)}}
                                        </td>
                                        <td style="vertical-align: middle; width: 10rem;">
                                            {{trialsService.getWeekStartAndEnd(item.week)[0] |
                                            date:'YYYY MMMM dd'}}
                                        </td>
                                        <td style="vertical-align: middle; width: 10rem;">
                                            {{trialsService.getWeekStartAndEnd(item.week)[1] |
                                            date:'MMMM dd'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" [class.show]="firstTabToOpen === 'group'" [class.active]="firstTabToOpen === 'group'" id="group" role="tabpanel" aria-labelledby="group-tab">
                        <div class="table-responsive" style="max-height: 70vh;">
                            <table class="table table-head-fixed table-bordered text-nowrap table-sm table-striped table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 6rem;" class="text-center px-0">Week</th>
                                        <th style="width: 2rem;" class="text-center">Rank</th>
                                        <th style="width: 7.5rem;" class="text-center">Time</th>
                                        <th>Players</th>
                                        <th style="width: 10rem;">From</th>
                                        <th style="width: 10rem;">To</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let weekEntries of playerDetails['group']">
                                        <tr *ngFor="let entry of weekEntries.entries; let first = first" [routerLink]="'/trials/' + weekEntries.week" role="button">
                                            <td *ngIf="first" [attr.rowspan]="weekEntries.entries.length" style="vertical-align: middle; width: 6rem;" class="text-center px-2" [title]="trialsService.getBehemothName(weekEntries.behemothId)">
                                                {{weekEntries.week}}<img class="ml-1" style="width: 3rem; margin: -0.5rem;" [src]="trialsService.getBehemothImgUrl(weekEntries.behemothId)">
                                            </td>
                                            <td style="vertical-align: middle; width: 2rem;" class="text-center">
                                                {{entry.rank}}.
                                            </td>
                                            <td style="vertical-align: middle; cursor: default; width: 7.5rem;" class="text-center" [title]="trialsService.convertTrialTime(entry.completionTime, true)">
                                                {{trialsService.convertTrialTime(entry.completionTime, trialDecimals)}}
                                            </td>
                                            <td style="vertical-align: middle;">
                                                <div class="d-none d-md-block">
                                                    <div style="display: grid; grid-template-columns: max-content 1fr; row-gap: 0.3rem; column-gap: 1rem;">
                                                        <div *ngFor="let player of entry.entries" [class.text-info]="player.phxAccountId === playerId">
                                                            <img class="ml-1" style="width: 2rem; margin: -0.1rem;" [src]="trialsService.getWeaponImgUrl(player.weapon)">
                                                            <img class="ml-1" style="width: 2rem; margin: -0.1rem;" *ngIf="player.playerRoleId" [src]="trialsService.getOmniImgUrl(player.playerRoleId)">
                                                            <span class="mx-2">
                                                                <app-player-name [playerName]="player.playerName"></app-player-name>
                                                            </span>
                                                            <img class="ml-1" style="width: 2rem; margin: -0.1rem;" *ngIf="player.playerRoleId" [src]="trialsService.getPlatformImgUrl(player.platform)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-md-none">
                                                    <div style="display: grid; grid-template-columns: 1fr; row-gap: 0.3rem; column-gap: 1rem;">
                                                        <div *ngFor="let player of entry.entries" [class.text-info]="player.phxAccountId === playerId">
                                                            <img class="ml-1" style="width: 2rem; margin: -0.1rem;" [src]="trialsService.getWeaponImgUrl(player.weapon)">
                                                            <img class="ml-1" style="width: 2rem; margin: -0.1rem;" *ngIf="player.playerRoleId" [src]="trialsService.getOmniImgUrl(player.playerRoleId)">
                                                            <span class="mx-2">
                                                                <app-player-name [playerName]="player.playerName"></app-player-name>
                                                            </span>
                                                            <img class="ml-1" style="width: 2rem; margin: -0.1rem;" *ngIf="player.playerRoleId" [src]="trialsService.getPlatformImgUrl(player.platform)">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td *ngIf="first" [attr.rowspan]="weekEntries.entries.length" style="vertical-align: middle; width: 10rem;">
                                                {{trialsService.getWeekStartAndEnd(weekEntries.week)[0] | date:'YYYY MMMM d'}}
                                            </td>
                                            <td *ngIf="first" [attr.rowspan]="weekEntries.entries.length" style="vertical-align: middle; width: 10rem;">
                                                {{trialsService.getWeekStartAndEnd(weekEntries.week)[1] | date:'MMMM d'}}
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <ng-container *ngFor="let type of ['hammer', 'axe', 'sword', 'chainblades', 'pike', 'repeaters', 'strikers']; let indexWeapon = index">
                        <div class="tab-pane fade" [class.show]="firstTabToOpen === type" [class.active]="firstTabToOpen === type" [attr.id]="type" role="tabpanel" [attr.aria-labelledby]="type + '-tab'">
                            <div class="table-responsive" style="max-height: 70vh;">
                                <table class="table table-head-fixed table-bordered text-nowrap table-sm table-striped table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th style="width: 6rem;" class="text-center px-0">Week</th>
                                            <th style="width: 2rem;" class="text-center">Rank</th>
                                            <th>Time</th>
                                            <th style="width: 10rem;">From</th>
                                            <th style="width: 10rem;">To</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of playerDetails[type]" [routerLink]="'/trials/' + item.week" role="button">
                                            <td style="vertical-align: middle; width: 6rem;" class="text-center px-2" [title]="trialsService.getBehemothName(item.behemothId)">
                                                {{item.week}}
                                                <img class="ml-1" style="width: 3rem; margin: -0.5rem;" [src]="trialsService.getBehemothImgUrl(item.behemothId)" />
                                            </td>
                                            <td style="vertical-align: middle; width: 2rem;" class="text-center">
                                                {{item.rank}}.
                                            </td>
                                            <td style="vertical-align: middle;cursor: default;" [title]="trialsService.convertTrialTime(item.completionTime, true)">
                                                <img class="mr-1" style="width: 2rem; margin: -0.1rem;" [src]="trialsService.getWeaponImgUrl(indexWeapon + 1)" />
                                                <img class="mr-1" style="width: 2rem; margin: -0.1rem;" *ngIf="item.playerRoleId" [src]="trialsService.getOmniImgUrl(item.playerRoleId)" />
                                                {{trialsService.convertTrialTime(item.completionTime, trialDecimals)}}
                                            </td>
                                            <td style="vertical-align: middle; width: 10rem;">
                                                {{trialsService.getWeekStartAndEnd(item.week)[0] | date:'YYYY MMMM d'}}
                                            </td>
                                            <td style="vertical-align: middle; width: 10rem;">
                                                {{trialsService.getWeekStartAndEnd(item.week)[1] | date:'MMMM d'}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>