<h1>About</h1>
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">About</h3>
            </div>
            <div class="card-body">
                <p>
                    <b>Dauntless Leaderboard</b> is free and display data that are intellectual property of Phoenix
                    Labs.<br>
                    I (polfy) am not responsible if there is an error in the whole dataset and will not handle outside
                    confict about that.<br>
                    If you find an issue and/or want to contribute to correct the dataset, simply join our <a
                        href="https://discord.gg/JGTVcqMDfm" target="_blank">discord</a> or my private messages are open
                    :)
                </p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Privacy</h3>
            </div>
            <div class="card-body">
                <p>
                    This website use Google Analytics.<br>
                    This website does not collect any data you're inputing.<br>
                    Settings are stored in your browser local storage.
                </p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Contributors</h3>
            </div>
            <div class="card-body">
                <ul>
                    <li>n1ck0 & themero - Base idea of collecting Gauntlet data to create Bar Chart Race</li>
                    <li>macvilla - Help formatting and understanding Gauntlet data</li>
                    <li>superevilteam - Figured out and share how to get trials data</li>
                    <li>thepikeofdestiny - For his all behemoth rotation Google sheet</li>
                </ul>
            </div>
        </div>
    </div>
</div>