<div class="row">
    <div class="col-lg-3 order-lg-2">
        <div class="card">
            <div class="card-body p-0">
                <select class="form-control" [(ngModel)]="currentSeasonId" (ngModelChange)="onFilterChange()">
                    <option *ngFor="let item of allSeasonData | keyvalue" [ngValue]="item.key">Season
                        {{getSeasonNumber(item.key)}}</option>
                </select>
                <div class="p-3">
                    <h6 class="font-weight-bold">Start at</h6>
                    <p>{{allSeasonData[currentSeasonId].startAt | date:'YYYY/MM/dd HH:mm'}}</p>
                    <h6 class="font-weight-bold">End at</h6>
                    <p>{{allSeasonData[currentSeasonId].endAt | date:'YYYY/MM/dd HH:mm'}}</p>
                    <ng-container *ngIf="shouldShowLastUpdated()">
                        <h6 class="font-weight-bold">Last updated</h6>
                        <p>{{allSeasonData[currentSeasonId].lastUpdated | date:'YYYY/MM/dd HH:mm'}}</p>
                    </ng-container>
                    <ng-container *ngIf="getSeasonNumber(currentSeasonId) >= 11">
                        <button *ngIf="getSeasonFlourishId()" class="btn btn-primary btn-block"
                            (click)="showChart = !showChart; onFilterChange();">
                            <ng-container *ngIf="!showChart">
                                <i class="fa-solid fa-chart-bar mr-1"></i>
                                Bar Chart Race
                            </ng-container>
                            <ng-container *ngIf="showChart">
                                <i class="fa-solid fa-arrow-left mr-1"></i>
                                Back to table
                            </ng-container>
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class=" col-lg-9 order-lg-1">
        <app-season-detail *ngIf="!showChart" [season]="allSeasonData[currentSeasonId]"></app-season-detail>
        <!-- <app-flourish *ngIf="showChart" [url]="getFlourishUrl()"></app-flourish> -->
    </div>
</div>

<div class="modal fade" [class.show]="showChart" [style.display]="showChart ? 'block' : 'none'"
    style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Season {{getSeasonNumber(currentSeasonId)}}</h4>
                <button type="button" class="close" (click)="showChart = false; onFilterChange();" aria-label="Close">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <app-flourish [url]="getFlourishUrl()"></app-flourish>
            </div>
            <!-- <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" (click)="showChart = false">Close</button>
                <button type="button" class="btn btn-primary" (click)="showChart = false">Continue</button>
            </div> -->
        </div>
    </div>
</div>