<h1 class="mt-4">Guilds</h1>

<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
    <clr-dg-column [clrDgField]="'guild_name_tag'">Guild</clr-dg-column>
    <!-- <clr-dg-column [clrDgField]="'rating'">Rating</clr-dg-column> -->

    <clr-dg-row *ngFor="let guild of guilds">
        <clr-dg-cell>{{ guild.name }} <span style="font-size: 80%; font-weight: lighter;">[{{guild.tag}}]</span></clr-dg-cell>
        <!-- <clr-dg-cell>{{ guild.rating }}</clr-dg-cell> -->
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="total">
            <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Guilds per page</clr-dg-page-size>
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} guilds
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>