<div class="row">
    <div class="col-12">
        <div class="card" *ngIf="currentSeason">
            <div class="card-header d-flex justify-content-between align-items-center" role="button"
                [routerLink]="'/seasons/' + getSeasonNumber(currentSeasonId)">
                <h3 class="card-title"><img class="mr-2" style="width: 1.333rem;"
                        src="assets/img/gauntlet_icon.png">Gauntlet Season
                    {{getSeasonNumber(currentSeasonId)}}</h3>
                <span class="badge badge-secondary ml-auto">End at {{currentSeason.endAt |
                    date:'YYYY/MM/dd HH:mm'}}</span>
            </div>
            <div class="card-body p-0">
                <table class="table text-nowrap table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 14px">Rank</th>
                            <th>Guild</th>
                            <th style="width: 100px">
                                <div class="text-center">Level</div>
                            </th>
                            <th style="width: 100px">
                                <div class="text-center">Time left</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let leaderboardItem of currentSeason.leaderboard; index as index;"
                            [class.text-info]="leaderboardItem.guildNameplate === userGuildTag"
                            (click)="openGuildDetail(leaderboardItem.guildNameplate)" role="button">
                            <ng-container *ngIf="index < 5 || leaderboardItem.guildNameplate === userGuildTag">
                                <td class="text-center">{{index + 1}}.</td>
                                <td>{{leaderboardItem.guildName}} <span
                                        class="font-weight-light h6">[{{leaderboardItem.guildNameplate}}]</span></td>
                                <td>
                                    <div class="text-center">{{leaderboardItem.level}}</div>
                                </td>
                                <td>
                                    <div class="text-center">{{convertRemainingSec(leaderboardItem.remainingSec)}}</div>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
                <div class="table-responsive"></div>
            </div>
            <div class="card-footer d-flex">
                <span class="badge badge-secondary ml-auto">Last updated at
                    {{currentSeason.lastUpdated |
                    date:'YYYY/MM/dd HH:mm'}}</span>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-6" *ngIf="currentTrial">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><img height="60px" [src]="getBehemothImgUrl()" /> Solo Trial<span
                        class="badge badge-warning ml-2">BETA</span></h3>
                <div class="card-tools">
                    <span class="badge badge-secondary">End at {{getWeekStartAndEnd(getCurrentWeek())[1] |
                        date:'YYYY/MM/dd HH:mm'}}</span>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive" style="max-height: 70vh;">
                    <table
                        class="table table-head-fixed table-bordered text-nowrap table-sm table-striped table-hover mb-0">
                        <thead>
                            <tr>
                                <th style="width: 2rem;" class="text-center">Rank</th>
                                <th style="width: 6rem;" class="text-center">Time</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let player of trial.data.solo['all']; let index = index"
                                [routerLink]="'/players/' + trialsService.getPlayerName(allSlayers[player.phxAccountId], player.platform)"
                                role="button"
                                [class.text-info]="trialsService.getPlayerNames(allSlayers, player.phxAccountId).includes(userPlayerName)">
                                <td style="vertical-align: middle; width: 2rem;" class="text-center">{{index +
                                    1}}.</td>
                                <td style="vertical-align: middle; width: 6rem; cursor: default;" class="text-center"
                                    [title]="trialsService.convertTrialTime(player.completionTime, true)">
                                    {{trialsService.convertTrialTime(player.completionTime)}}
                                </td>
                                <td style="vertical-align: middle;">
                                    <img class="ml-1" style="width: 2rem; margin: -0.1rem;"
                                        [src]="trialsService.getWeaponImgUrl(player.weapon)">
                                    <img class="ml-1" style="width: 2rem; margin: -0.1rem;" *ngIf="player.playerRoleId"
                                        [src]="trialsService.getOmniImgUrl(player.playerRoleId)">
                                    <span class="mx-2">{{trialsService.getPlayerName(allSlayers[player.phxAccountId],
                                        player.platform)}}</span>
                                    <img class="ml-1" style="width: 2rem; margin: -0.1rem;" *ngIf="player.playerRoleId"
                                        [src]="trialsService.getPlatformImgUrl(player.platform)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">

    </div> -->
</div>