<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="nav-icon fa-solid fa-tree mr-2"></i>Gauntlet Season
                    {{currentSeasonNumber}}<span class="font-weight-light ml-4 h6">End at {{currentSeasonEndAt |
                        date:'YYYY/MM/dd HH:mm'}}</span></h3>
            </div>
            <div class="card-body p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 10px">Rank</th>
                            <th>Guild</th>
                            <th style="width: 100px">
                                <div class="text-center">Level</div>
                            </th>
                            <th style="width: 100px">
                                <div class="text-center">Time left</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let leaderboardItem of currentSeasonLeaderboard; index as i;">
                            <td>{{i + 1}}.
                                <i 
                                    class="fa-solid"
                                    [class.d-none]="leaderboardItem.positionDirection === undefined"
                                    [class.fa-caret-up]="!leaderboardItem.positionDirection"
                                    [class.text-success]="!leaderboardItem.positionDirection"
                                    [class.fa-caret-down]="leaderboardItem.positionDirection"
                                    [class.text-danger]="leaderboardItem.positionDirection"
                                ></i>
                            </td>
                            <td>{{leaderboardItem.guildName}} <span
                                    class="font-weight-light h6">[{{leaderboardItem.guildNameplate}}]</span></td>
                            <td>
                                <div class="text-center">{{leaderboardItem.level}}</div>
                            </td>
                            <td>
                                <div class="text-center">{{convertRemainingSec(leaderboardItem.remainingSec)}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>