<h1 class="mt-1">Dashboard</h1>
<div class="row">
    <div class="col-12 col-xl-6">
        <div class="card">
            <div *ngIf="!dashboardData" class="my-2 card-text text-center">
                <clr-spinner></clr-spinner>
            </div>
            <ng-container *ngIf="dashboardData">
                <div class="card-header" role="button" routerLink="/seasons/{{dashboardData.seasonInfo.season}}">
                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                        <div>Gauntlet Season {{dashboardData.seasonInfo.season}}</div>
                        <div class="d-flex align-items-center flex-column flex-md-row">
                            <button class="btn btn-sm">View full</button>
                            <span class="label">End at {{dashboardData.seasonInfo.end_at | date:'YYYY/MM/dd hh:mm'}}</span>
                        </div>
                    </div>
                </div>
                <div class="card-block p-0">
                    <div class="card-text">
                        <div class="table-responsive">
                            <table class="table table-compact m-0" style="border-radius: 0; border: none;">
                                <thead>
                                    <tr>
                                        <th class="right">#</th>
                                        <th class="left">Guild</th>
                                        <th>Level</th>
                                        <th>Time left</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of dashboardData.seasonLeaderboard" routerLink="/guilds/{{item.guild_id}}">
                                        <td class="right">{{item.rank}}.</td>
                                        <td class="left">
                                            <div style="display: flex; align-items: center;">
                                                <img *ngIf="item.guild_icon_filename" cds-layout="m-r:xs" style="width: var(--clr-table-data-cell-line-height); border-radius: 50%;" src="http://localhost:7001/assets/img/guilds/{{item.guild_icon_filename}}" />
                                                <span>{{item.guild_name}} <span style="font-size: 80%; font-weight: lighter;">[{{item.guild_tag}}]</span></span>
                                            </div>
                                        </td>
                                        <td>{{item.level}}</td>
                                        <td>{{item.remaining_sec * 1000 | date:'mm:ss'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="w-100 d-flex justify-content-end">
                        <span class="label">Last updated {{dashboardData.seasonInfo.last_updated| date:'YYYY/MM/dd hh:mm'}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>